:root {
    --primary-color: #0077b6;
    /*River Blue*/
    --second-color: #90e0ef;
    /*ligth Blue*/
    --accent1-color: #2b2d42;
    /*dark grey*/
    --accent2-color: #ffffff;
    /*White*/
    --heading-font: "Montserrat", sans-serif;
    --body-font: "Open Sans", sans-serif;
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;

}

body {
    font-family: (var(--body-font));
    color: var(--accent1-color);

}

header,
.grid main,
footer {
    width: 840px;
    margin: 0 auto;
}

h1,
h2 {
    font-family: var(--heading-font);
    color: var(--primary-color);
}

h1 {
    position: absolute;
    top: 20px;
    width: 100%;
    padding: 16px;
    text-align: center;
    opacity: 0.7;
    background-color: var(--accent1-color);
    color: #68c1d1
}

.hero {
    position: relative;
}

.hero img {
    display: block;
    width: 100%;
    height: auto;
}

.hero article img {
    float: right;
    width: 150px;
}

nav,
p,
section,
article {
    margin: 16px;
    padding: 8px;
    text-align: center;
}

.socialmedia a {
    text-decoration: none;

}

.socialmedia img {
    width: 30px;
    height: 30px;

}