* {
    margin: 1;
    padding: 2;
    box-sizing: border-box;
}

nav {
    background-color: rgb(73, 95, 110);
    padding: 15px;
}

nav a {
    margin: 10px;
    padding: 5px;
    display: block;
}

h1 {
    color: rgb(29, 28, 28);
    padding: 1.5rem;
}

main {
    max-width: 550px;
}

p {
    margin: auto;
    padding: 1rem
}

main img {
    width: 150px;
    height: auto;
    border: 1px solid steelblue;
    padding: 1px;
    float: right;
    margin: 0 0 1rem 1rem;
}

aside {
    width: 15em;
    text-align: center;
    position: relative;
    background-color: beige;
}

aside img {
    width: 200px;
    height: auto;
}

aside h2 {
    position: absolute;
    top: 5px;
    left: 70px;

}

footer {
    margin-top: 1rem;
    border-top: 1px solid black;
    text-align: center;
}

/* class selectors*/
.box {
    margin: 1rem;
    border: 1rem solid rgb(0, 0, 0 / 10%);
    padding: 20px;
    color: rgb(32, 32, 32);
    background-color: beige;

}