 body {
     font-family: Arial, sans-serif;
     line-height: 1.6rem;
 }

 header,
 footer {
     background-color: #333;
     color: rgb(253, 253, 253);
     padding: 10px;
     text-align: center;
     font-size: 1.6rem;

 }

 main {
     width: 400px;
     margin: 0 auto;

 }

 h1 {
     margin: 10px;
     text-align: center;
 }

 h2 {
     border-bottom: 1px solid black;
 }

 img {
     width: 100%;
     height: auto;

 }

 section {
     margin: 20px 0;
     border: 1px solid black;
     padding: 10px;
     background-color: gainsboro;
     font-size: 1rem;
 }

 section p {
     margin: 10px
 }

 footer {
     font-size: 0.9rem;
 }